In [4]:
import findspark
#findspark.init('/usr/hdp/2.6.1.0-129/spark2')
findspark.init()
import pyspark
import numpy as np
import pandas as pd
from pyspark.sql import SparkSession

#import pyspark.sql
#from pyspark.sql import SQLContext
#spark = SparkSession.builder.appName('thm').getOrCreate()
#sqlContext = SQLContext(spark)

In [5]:
from pyspark import SparkContext
sc=SparkContext()

In [6]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [7]:
s_df = sqlContext.read.csv("C:/big_data_log/big_data-2019-02-*.log", sep=';').cache()

In [8]:
s_products = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://10.1.3.244/tm_datasc',
          driver='com.mysql.jdbc.Driver',
          dbtable='products',
          user='datasc',
          password='scdata',
          serverTimezone='GMT',
          zeroDateTimeBehavior='CONVERT_TO_NULL').load()

categories = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://10.1.3.244/tm_datasc',
          driver='com.mysql.jdbc.Driver',
          dbtable='categories',
          user='datasc',
          password='scdata',
          serverTimezone='GMT',
          zeroDateTimeBehavior='CONVERT_TO_NULL').load() 
          
products_categories = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://10.1.3.244/tm_datasc',
          driver='com.mysql.jdbc.Driver',
          dbtable='products_categories',
          user='datasc',
          password='scdata',
          serverTimezone='GMT',
          zeroDateTimeBehavior='CONVERT_TO_NULL').load()
          
categories_content = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://10.1.3.244/tm_datasc',
          driver='com.mysql.jdbc.Driver',
          dbtable='categories_content',
          user='datasc',
          password='scdata',
          serverTimezone='GMT',
          zeroDateTimeBehavior='CONVERT_TO_NULL').load()
          
products_content = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://10.1.3.244/tm_datasc',
          driver='com.mysql.jdbc.Driver',
          dbtable='products_content',
          user='datasc',
          password='scdata',
          serverTimezone='GMT',
          zeroDateTimeBehavior='CONVERT_TO_NULL').load()

In [44]:
orders = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://10.1.3.244/tm_datasc',
          driver='com.mysql.jdbc.Driver',
          dbtable='orders',
          user='datasc',
          password='scdata',
          serverTimezone='GMT',
          zeroDateTimeBehavior='CONVERT_TO_NULL').load()

order_items = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://10.1.3.244/tm_datasc',
          driver='com.mysql.jdbc.Driver',
          dbtable='order_items',
          user='datasc',
          password='scdata',
          serverTimezone='GMT',
          zeroDateTimeBehavior='CONVERT_TO_NULL').load()

In [9]:
s_df = s_df.selectExpr('_c0 as data_id', 
                   '_c1 as data_type', 
                   '_c2 as view_type',
                   '_c3 as customer_id',
                   '_c4 as vote_index',
                   '_c5 as added_qty',
                   '_c6 as token',
                   '_c7 as log_time',
                   '_c8 as session_id',
                   '_c9 as ip_address',
                   '_c10 as device_type',
                   '_c11 as click_success')

s_df = s_df.select(s_df.data_id.cast("integer"),
               s_df.view_type.cast("integer"),
               s_df.data_type.cast("integer"),
               s_df.customer_id.cast("integer"),
               s_df.added_qty.cast("integer"),
               s_df.token.cast("string"),
               s_df.log_time.cast("string"),
               s_df.session_id.cast("string"),
               s_df.ip_address.cast("string"),
               s_df.device_type.cast("integer"),
               s_df.click_success.cast("integer"))


s_df = s_df.fillna({'click_success':'0'})
s_df = s_df.fillna({'added_qty':'0'})
s_df = s_df.fillna({'data_id':'0'})
s_df = s_df.fillna({'view_type':'0'})
s_df = s_df.fillna({'data_type':'0'})

s_df = s_df.filter(s_df.click_success<3)
s_df = s_df.filter(s_df.added_qty<100)
s_df = s_df.filter(s_df.view_type<25)
s_df = s_df.filter(s_df.data_type<25)
s_df = s_df.filter(s_df.device_type<2)
s_df = s_df.filter(s_df.click_success<3)

In [10]:
from pyspark.sql.types import IntegerType, TimestampType
from pyspark.sql.functions import unix_timestamp, from_unixtime

s_df = s_df.withColumn('log_time', unix_timestamp("log_time", "yyyy-MM-dd HH:mm:ss").cast('timestamp').alias("log_time"))
s_df = s_df.withColumnRenamed('customer_cookie_token', 'token')
s_df = s_df.drop('id')
s_df = s_df.cache()

In [11]:
from pyspark.sql import functions as F
from pyspark.sql.functions import *
from pyspark.sql.functions import col, size
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf
from pyspark.sql.functions import datediff, to_date, lit

break_point = '2017-04-29 00:00:00'

s_df = s_df.filter(s_df.log_time>break_point)
s_df = s_df.withColumn('date', s_df['log_time'].cast('date'))
s_df = s_df.withColumn('prod', F.when(s_df.data_type == 1, s_df.data_id).otherwise(0))
s_df = s_df.withColumn('cat', F.when(s_df.data_type == 7, s_df.data_id).otherwise(0))
s_df = s_df.withColumn('class', F.when(s_df.click_success == 1, s_df.click_success).otherwise(0))

In [12]:
s_df = s_df.dropDuplicates()

In [13]:
from pyspark.sql.functions import date_format

s_df = s_df.withColumn('year', year("log_time").alias('year'))
s_df = s_df.withColumn('month', month("log_time").alias('month'))
s_df = s_df.withColumn('wday', date_format('date', 'u'))
s_df = s_df.withColumn('hour', hour("log_time").alias('hour'))
s_df = s_df.withColumn('minute', minute("log_time").alias('minute'))
s_df = s_df.select(s_df.data_id,
               s_df.view_type,
               s_df.data_type,
               s_df.customer_id,
               s_df.added_qty,
               s_df.token,
               s_df.log_time,
               s_df.session_id,
               s_df.ip_address,
               s_df.device_type,
               s_df.click_success,
               s_df.date,
               s_df.prod.cast("integer"),
               s_df.cat.cast("integer"),
               s_df.year.cast("integer"),
               s_df.month.cast("integer"),
               s_df.wday.cast("integer"),
               s_df.hour.cast("integer"),
               s_df.minute.cast("integer"))
s_df = s_df.cache()

In [14]:
s_df = s_df.filter("token is not NULL")
s_df = s_df.filter("session_id is not NULL")
s_df = s_df.filter("log_time is not NULL")
s_df = s_df.filter("data_type is not NULL")
s_df = s_df.filter("view_type is not NULL")
s_df = s_df.filter("added_qty is not NULL")
s_df = s_df.filter("year is not NULL")
s_df = s_df.filter("month is not NULL")
s_df = s_df.filter("wday is not NULL")
s_df = s_df.filter("hour is not NULL")
s_df = s_df.filter("minute is not NULL")
s_df = s_df.filter("prod is not NULL")

In [15]:
categories = categories_content.select('category_id', 'name')
categories = categories.withColumnRenamed("name", "category_name")

products_content = products_content.select('product_id', 'name', 'type')
products_content = products_content.withColumnRenamed("name", "product_name")

s_products = s_products.select('product_id', 'brand', 'cena_niza_redovna', 'status')
s_products = s_products.withColumnRenamed("cena_niza_redovna", "price")
s_products = s_products.filter('status==1')

In [16]:
s_products = s_products.alias('a').join(products_content.alias('b'), s_products['product_id']==products_content['product_id'], 'inner').select('a.product_id', 'b.product_name', 'b.type', 'a.brand', 'a.price')

s_products = s_products.alias('a').join(products_categories.alias('b'), s_products['product_id']==products_categories['product_id'], 'inner').select('a.product_id', 'a.product_name', 'a.type', 'b.category_id', 'a.brand', 'a.price')

s_products = s_products.alias('a').join(categories.alias('b'), s_products['category_id']==categories['category_id'], 'inner').select('a.product_id', 'a.product_name', 'a.type', 'b.category_id', 'b.category_name','a.brand', 'a.price')

In [17]:
from pyspark.sql.functions import monotonically_increasing_id

tokens = s_df.select('token').distinct()
tokens = tokens.withColumn("user", monotonically_increasing_id())

tokens = tokens.cache()

s_df = s_df.alias('a').join(tokens.alias('b'), s_df['token'] == tokens['token'], 'left')\
.select('a.data_id', 'a.view_type', 'a.data_type', 'a.customer_id', 'a.added_qty', 'a.token', 'b.user', 'a.log_time', 'a.ip_address', 'a.session_id', 'a.device_type', 'a.click_success', 'a.prod', 'a.cat', 'a.date','a.year', 'a.month', 'a.wday', 'a.hour', 'a.minute')\
.cache()

In [18]:
s_df.count()

1670512

In [19]:
s_df.show()

+-------+---------+---------+-----------+---------+--------------------+----+-------------------+---------------+--------------------+-----------+-------------+------+---+----------+----+-----+----+----+------+
|data_id|view_type|data_type|customer_id|added_qty|               token|user|           log_time|     ip_address|          session_id|device_type|click_success|  prod|cat|      date|year|month|wday|hour|minute|
+-------+---------+---------+-----------+---------+--------------------+----+-------------------+---------------+--------------------+-----------+-------------+------+---+----------+----+-----+----+----+------+
|  75936|        7|        1|          0|        0|000344tlgncv5k5lr...|1059|2019-02-03 19:59:03|   66.249.92.33|000344tlgncv5k5lr...|          0|            0| 75936|  0|2019-02-03|2019|    2|   7|  19|    59|
| 128207|        7|        1|          0|        0|00750610f0d326cb6...| 235|2019-02-08 18:07:20|  93.87.106.241|pvt567f3l2oaadded...|          0|            0|128207|  0|2019-02-08|2019|    2|   5|  18|     7|
|  54930|        7|        1|          0|        0|00750610f0d326cb6...| 235|2019-02-01 23:49:19|  93.87.106.241|a0spcb3mqb8go620o...|          0|            0| 54930|  0|2019-02-01|2019|    2|   5|  23|    49|
| 132273|        7|        1|          0|        0|00mlb31pvvj1oe6vl...|2352|2019-02-07 10:45:49|  173.44.48.117|00mlb31pvvj1oe6vl...|          0|            0|132273|  0|2019-02-07|2019|    2|   4|  10|    45|
|  76555|        7|        1|          0|        0|0105026b2cbfd2563...| 840|2019-02-06 21:49:20|  82.117.197.90|vf04ljaaohjvgmf0t...|          1|            0| 76555|  0|2019-02-06|2019|    2|   3|  21|    49|
|  80049|        7|        1|          0|        0|01bgiqc91ncg9dahj...|1911|2019-02-07 16:13:23|  157.55.39.117|01bgiqc91ncg9dahj...|          1|            0| 80049|  0|2019-02-07|2019|    2|   4|  16|    13|
|  74166|        7|        1|          0|        0|01bqoto4dopl589qn...|3433|2019-02-05 01:48:50|   52.50.86.106|01bqoto4dopl589qn...|          0|            0| 74166|  0|2019-02-05|2019|    2|   2|   1|    48|
|  84668|        7|        1|          0|        0|01j902pmva808c507...| 736|2019-02-05 12:10:56|   207.46.13.92|01j902pmva808c507...|          0|            0| 84668|  0|2019-02-05|2019|    2|   2|  12|    10|
|  48456|        7|        1|          0|        0|01k9f6eolqs83qmjn...|3603|2019-01-31 21:57:20|  54.36.148.241|01k9f6eolqs83qmjn...|          0|            0| 48456|  0|2019-01-31|2019|    1|   4|  21|    57|
|  82073|        7|        1|          0|        0|01nac94btjdffvnnu...|2760|2019-02-09 07:45:39| 185.50.184.234|01nac94btjdffvnnu...|          1|            0| 82073|  0|2019-02-09|2019|    2|   6|   7|    45|
| 127764|        7|        1|          0|        0|01s4g313rf852aad1...|  95|2019-02-08 08:04:40|109.245.227.225|01s4g313rf852aad1...|          1|            0|127764|  0|2019-02-08|2019|    2|   5|   8|     4|
|  82734|        7|        1|          0|        0|01s4g313rf852aad1...|  95|2019-02-08 08:03:34|109.245.227.225|01s4g313rf852aad1...|          1|            0| 82734|  0|2019-02-08|2019|    2|   5|   8|     3|
|  58957|        7|        1|          0|        0|02q0bm4djeobaahct...| 298|2019-02-05 17:52:40| 178.149.135.22|c53dmiommecqcnbqs...|          1|            0| 58957|  0|2019-02-05|2019|    2|   2|  17|    52|
|  58957|        7|        1|          0|        0|02q0bm4djeobaahct...| 298|2019-02-05 18:00:39| 178.149.135.22|c53dmiommecqcnbqs...|          1|            0| 58957|  0|2019-02-05|2019|    2|   2|  18|     0|
|  58535|        7|        1|          0|        0|02q0bm4djeobaahct...| 298|2019-02-05 17:51:40| 178.149.135.22|c53dmiommecqcnbqs...|          1|            0| 58535|  0|2019-02-05|2019|    2|   2|  17|    51|
|  58958|        7|        1|          0|        0|02q0bm4djeobaahct...| 298|2019-02-05 17:52:18| 178.149.135.22|c53dmiommecqcnbqs...|          1|            0| 58958|  0|2019-02-05|2019|    2|   2|  17|    52|
| 126288|        7|        1|          0|        0|02q0bm4djeobaahct...| 298|2019-02-05 17:53:38| 178.149.135.22|c53dmiommecqcnbqs...|          1|            0|126288|  0|2019-02-05|2019|    2|   2|  17|    53|
| 134972|        7|        1|          0|        0|03202a259b9a35678...| 412|2019-02-03 18:25:23| 79.175.110.124|es229da5l62kunbb6...|          1|            0|134972|  0|2019-02-03|2019|    2|   7|  18|    25|
|  80624|        7|        1|          0|        0|039cb72craro5mi11...|2362|2019-01-31 04:54:20|148.251.133.233|039cb72craro5mi11...|          0|            0| 80624|  0|2019-01-31|2019|    1|   4|   4|    54|
| 125268|        7|        1|          0|        0|03skqsb5g9liv261a...|1604|2019-02-09 08:18:55|  37.19.109.252|dts4sd2vsf0dr8nqe...|          0|            0|125268|  0|2019-02-09|2019|    2|   6|   8|    18|
+-------+---------+---------+-----------+---------+--------------------+----+-------------------+---------------+--------------------+-----------+-------------+------+---+----------+----+-----+----+----+------+
only showing top 20 rows

In [20]:
s_df.printSchema()

root
 |-- data_id: integer (nullable = true)
 |-- view_type: integer (nullable = true)
 |-- data_type: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- added_qty: integer (nullable = true)
 |-- token: string (nullable = true)
 |-- user: long (nullable = true)
 |-- log_time: timestamp (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- session_id: string (nullable = true)
 |-- device_type: integer (nullable = true)
 |-- click_success: integer (nullable = true)
 |-- prod: integer (nullable = true)
 |-- cat: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- wday: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)

In [21]:
s_df = s_df.filter("customer_id>0")
s_df.count()

7624

In [22]:
s_df = s_df.withColumn("current_date", F.date_format(F.current_date(), "y-M-d")).withColumn("log_date", F.date_format(s_df.date, "y-M-d"))
s_df = s_df.withColumn('current_date', s_df['current_date'].cast('date'))
s_df = s_df.withColumn('log_date', s_df['log_date'].cast('date'))
s_df = s_df.withColumn("days_between", F.datediff(s_df.current_date, s_df.date))

In [23]:

s_df.printSchema()

root
 |-- data_id: integer (nullable = true)
 |-- view_type: integer (nullable = true)
 |-- data_type: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- added_qty: integer (nullable = true)
 |-- token: string (nullable = true)
 |-- user: long (nullable = true)
 |-- log_time: timestamp (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- session_id: string (nullable = true)
 |-- device_type: integer (nullable = true)
 |-- click_success: integer (nullable = true)
 |-- prod: integer (nullable = true)
 |-- cat: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- wday: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- current_date: date (nullable = true)
 |-- log_date: date (nullable = true)
 |-- days_between: integer (nullable = true)

In [24]:
s_df.select("customer_id", "log_date", "days_between").show()

+-----------+----------+------------+
|customer_id|  log_date|days_between|
+-----------+----------+------------+
|      32477|2019-02-04|           8|
|     544369|2019-02-02|          10|
|     544369|2019-02-02|          10|
|     544369|2019-02-02|          10|
|     544369|2019-02-02|          10|
|     544369|2019-02-02|          10|
|     544369|2019-02-02|          10|
|     544369|2019-02-02|          10|
|     208691|2019-02-10|           2|
|     208691|2019-02-10|           2|
|     156367|2019-02-05|           7|
|     444110|2019-02-06|           6|
|     444110|2019-02-06|           6|
|     444110|2019-02-06|           6|
|     444110|2019-02-06|           6|
|     528559|2019-02-06|           6|
|     528559|2019-02-06|           6|
|     528559|2019-02-06|           6|
|     528559|2019-02-06|           6|
|     528559|2019-02-06|           6|
+-----------+----------+------------+
only showing top 20 rows

In [25]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, col

window = Window.partitionBy(s_df['customer_id']).orderBy(s_df['log_date'].asc())

In [26]:
n=1
first_transaction = s_df.select(col('customer_id'), col('log_date'), row_number().over(window).alias('row_number')) \
  .where(col('row_number') <= n).drop('row_number')

In [27]:
first_transaction = first_transaction.withColumnRenamed('log_date', 'first_transaction')

In [28]:
window = Window.partitionBy(s_df['customer_id']).orderBy(s_df['log_date'].desc())

In [29]:
last_transaction = s_df.select(col('customer_id'), col('log_date'), row_number().over(window).alias('row_number')) \
  .where(col('row_number') <= n).drop('row_number')

In [30]:
last_transaction = last_transaction.withColumnRenamed('log_date', 'last_transaction')

In [31]:
#shopping_frequency (num of orders per customer_id)
frequency = s_df.groupBy("customer_id", "data_type").count().filter("data_type==11").orderBy("count", ascending=False).drop('data_type')

In [32]:
#recency (difference between last transaction and today)
recency = last_transaction.withColumn("current_date", F.date_format(F.current_date(), "y-M-d")).withColumn("log_date", F.date_format(last_transaction.last_transaction, "y-M-d"))
recency = recency.withColumn("days_between", F.datediff(recency.current_date, recency.last_transaction))
recency = recency.withColumnRenamed('days_between','recency').drop('last_transaction', 'current_date')

In [33]:
length = first_transaction.join(last_transaction, ['customer_id'], 'inner')

In [34]:
length = length.withColumn("length", F.datediff(length.last_transaction, length.first_transaction))

In [35]:
length.show(100)

+-----------+-----------------+----------------+------+
|customer_id|first_transaction|last_transaction|length|
+-----------+-----------------+----------------+------+
|      94819|       2019-02-02|      2019-02-02|     0|
|     413073|       2019-01-31|      2019-01-31|     0|
|     459999|       2019-02-07|      2019-02-07|     0|
|     493490|       2019-02-07|      2019-02-07|     0|
|     547213|       2019-02-08|      2019-02-09|     1|
|     105437|       2019-01-31|      2019-02-08|     8|
|     444553|       2019-01-31|      2019-01-31|     0|
|     544177|       2019-01-31|      2019-01-31|     0|
|     545725|       2019-02-05|      2019-02-05|     0|
|     545792|       2019-02-05|      2019-02-05|     0|
|     546883|       2019-02-07|      2019-02-07|     0|
|     502742|       2019-02-01|      2019-02-07|     6|
|     544777|       2019-02-01|      2019-02-02|     1|
|     546284|       2019-02-06|      2019-02-06|     0|
|     546829|       2019-02-07|      2019-02-08|     1|
|     547827|       2019-02-10|      2019-02-10|     0|
|      18884|       2019-02-08|      2019-02-10|     2|
|     439105|       2019-02-09|      2019-02-09|     0|
|     543014|       2019-02-01|      2019-02-01|     0|
|     544035|       2019-01-31|      2019-01-31|     0|
|     544231|       2019-01-31|      2019-01-31|     0|
|     544909|       2019-02-02|      2019-02-02|     0|
|     545186|       2019-02-03|      2019-02-06|     3|
|     545983|       2019-02-06|      2019-02-06|     0|
|     547143|       2019-02-08|      2019-02-08|     0|
|     547683|       2019-02-09|      2019-02-09|     0|
|     548108|       2019-02-10|      2019-02-10|     0|
|     548127|       2019-02-10|      2019-02-10|     0|
|       6934|       2019-02-08|      2019-02-08|     0|
|     403364|       2019-02-07|      2019-02-07|     0|
|     418394|       2019-02-09|      2019-02-09|     0|
|     510945|       2019-02-02|      2019-02-02|     0|
|     519133|       2019-01-31|      2019-02-06|     6|
|     535431|       2019-02-07|      2019-02-08|     1|
|     543638|       2019-02-09|      2019-02-09|     0|
|     544742|       2019-02-01|      2019-02-07|     6|
|     545546|       2019-02-04|      2019-02-04|     0|
|     547645|       2019-02-09|      2019-02-09|     0|
|     534476|       2019-02-06|      2019-02-06|     0|
|     541850|       2019-01-31|      2019-02-01|     1|
|     544347|       2019-01-31|      2019-01-31|     0|
|     544449|       2019-01-31|      2019-01-31|     0|
|     545024|       2019-02-02|      2019-02-03|     1|
|     546758|       2019-02-07|      2019-02-07|     0|
|     546969|       2019-02-07|      2019-02-07|     0|
|     548079|       2019-02-10|      2019-02-10|     0|
|     321599|       2019-02-02|      2019-02-02|     0|
|     342735|       2019-02-02|      2019-02-02|     0|
|     416151|       2019-02-06|      2019-02-06|     0|
|     538226|       2019-02-05|      2019-02-05|     0|
|     206277|       2019-02-08|      2019-02-08|     0|
|     381320|       2019-02-06|      2019-02-08|     2|
|     469723|       2019-02-02|      2019-02-02|     0|
|     506739|       2019-02-05|      2019-02-05|     0|
|     545324|       2019-02-04|      2019-02-04|     0|
|     545900|       2019-02-06|      2019-02-06|     0|
|     546698|       2019-02-07|      2019-02-07|     0|
|     547070|       2019-02-08|      2019-02-08|     0|
|     547545|       2019-02-09|      2019-02-09|     0|
|     538647|       2019-02-02|      2019-02-02|     0|
|     544748|       2019-02-01|      2019-02-01|     0|
|     545599|       2019-02-06|      2019-02-06|     0|
|      16544|       2019-02-06|      2019-02-07|     1|
|     478280|       2019-01-31|      2019-01-31|     0|
|     536529|       2019-01-31|      2019-01-31|     0|
|     545445|       2019-02-04|      2019-02-04|     0|
|     546896|       2019-02-07|      2019-02-07|     0|
|     547082|       2019-02-08|      2019-02-08|     0|
|      13751|       2019-02-07|      2019-02-10|     3|
|     103761|       2019-02-06|      2019-02-08|     2|
|     543843|       2019-02-05|      2019-02-05|     0|
|     544262|       2019-01-31|      2019-01-31|     0|
|     546225|       2019-02-06|      2019-02-06|     0|
|     546716|       2019-02-07|      2019-02-07|     0|
|     529730|       2019-02-04|      2019-02-04|     0|
|     541827|       2019-01-31|      2019-01-31|     0|
|     545277|       2019-02-03|      2019-02-04|     1|
|     545498|       2019-02-04|      2019-02-04|     0|
|     546938|       2019-02-07|      2019-02-07|     0|
|     547238|       2019-02-08|      2019-02-08|     0|
|     493441|       2019-02-07|      2019-02-07|     0|
|     507397|       2019-02-03|      2019-02-03|     0|
|     547107|       2019-02-08|      2019-02-08|     0|
|     548072|       2019-02-10|      2019-02-10|     0|
|     327457|       2019-02-04|      2019-02-07|     3|
|     415076|       2019-01-31|      2019-01-31|     0|
|     545835|       2019-02-05|      2019-02-05|     0|
|     545847|       2019-02-05|      2019-02-05|     0|
|     547089|       2019-02-08|      2019-02-08|     0|
|      31747|       2019-01-31|      2019-01-31|     0|
|     237621|       2019-02-06|      2019-02-08|     2|
|     355766|       2019-02-01|      2019-02-02|     1|
|     445225|       2019-02-03|      2019-02-03|     0|
|     546519|       2019-02-06|      2019-02-06|     0|
|     547489|       2019-02-09|      2019-02-09|     0|
|      46591|       2019-02-08|      2019-02-08|     0|
|     544509|       2019-01-31|      2019-01-31|     0|
|     546055|       2019-02-06|      2019-02-06|     0|
|       2778|       2019-02-06|      2019-02-10|     4|
|      91833|       2019-02-09|      2019-02-09|     0|
+-----------+-----------------+----------------+------+
only showing top 100 rows

In [36]:
length.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- first_transaction: date (nullable = true)
 |-- last_transaction: date (nullable = true)
 |-- length: integer (nullable = true)

In [37]:
recency.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- log_date: string (nullable = true)
 |-- recency: integer (nullable = true)

In [38]:
#fali monetary i frequency

In [39]:
s_df.printSchema()

root
 |-- data_id: integer (nullable = true)
 |-- view_type: integer (nullable = true)
 |-- data_type: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- added_qty: integer (nullable = true)
 |-- token: string (nullable = true)
 |-- user: long (nullable = true)
 |-- log_time: timestamp (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- session_id: string (nullable = true)
 |-- device_type: integer (nullable = true)
 |-- click_success: integer (nullable = true)
 |-- prod: integer (nullable = true)
 |-- cat: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- wday: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- current_date: date (nullable = true)
 |-- log_date: date (nullable = true)
 |-- days_between: integer (nullable = true)

In [40]:
frequency = s_df.groupBy("customer_id").count().withColumnRenamed("count", "frequency")

In [41]:
frequency.show()

+-----------+---------+
|customer_id|frequency|
+-----------+---------+
|     547213|       19|
|     493490|        3|
|     459999|        3|
|      94819|        2|
|     413073|        3|
|     544177|        4|
|     444553|        2|
|     545725|        6|
|     105437|        6|
|     546883|        8|
|     545792|       14|
|     546829|        4|
|     544777|       47|
|     502742|        3|
|     547827|        5|
|     546284|        2|
|     545983|        2|
|     545186|        8|
|     543014|        1|
|     544231|        3|
+-----------+---------+
only showing top 20 rows

In [61]:
monetary = s_df.filter("data_type==11")

In [62]:
orders = orders.select("order_id", "customer_id", "total_value")

In [63]:
monetary = monetary.join(orders, monetary['data_id']==orders['order_id'], 'inner').select(monetary['customer_id'], 'total_value')

In [64]:
monetary = monetary.groupBy("customer_id").sum()

In [66]:
monetary = monetary.drop("sum(customer_id)").withColumnRenamed("sum(total_value)", "monetary")

In [67]:
monetary.show()

+-----------+--------+
|customer_id|monetary|
+-----------+--------+
|     413073|   29479|
|     459999|   29499|
|      94819|   33051|
|     444553|    2580|
|     545792|   34290|
|     105437|   21591|
|     546284|    5990|
|     545983|    7999|
|     547143|    1788|
|     544035|    5390|
|     547683|   47898|
|     544231|    3861|
|     547645|   37399|
|     519133|   49090|
|     545546|    3699|
|     544347|   35991|
|     541850|   65980|
|     546758|   24439|
|     545024|   25990|
|     546969|    2029|
+-----------+--------+
only showing top 20 rows

In [69]:
print("Monetary: ",monetary.count())
print("Frequency: ",frequency.count())
print("Length: ",length.count())
print("Recency: ",recency.count())

Monetary:  614
Frequency:  1224
Length:  1224
Recency:  1224

In [71]:
lrfm = frequency.join(length, ['customer_id'], 'inner').join(recency, ['customer_id'], 'inner').join(monetary, ['customer_id'], 'left').fillna(0)

In [73]:
lrfm = lrfm.drop("first_transaction", "last_transaction", "log_date")

In [ ]:
lrfm.show()